@font-face {
  font-family: 'MountainsofChristmas-Bold', Arial, sans-serif;
  src: url(assets/MountainsofChristmas-Bold.ttf);
}

body,
div {
  display: flex;
  box-sizing: border-box;
}

p,
label {
  font-size: x-large;
  font-family: sans-serif;
}

#do-it {
  margin-bottom: 25px;
  margin-top: 0px;
}

label {
  color: rgb(76 75 75)
}

.flex-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

#left-column {
  height: 100vh;
  width: 40vw;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/golden.png);
}

#right-column {
  width: 60vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#right-column div {
  height: 100vh;
  padding: 25px;
  font-weight: bold;
  font-size: large;
}

#first-div {
  display: flex;
  background-color: rgb(247, 247, 247);
  align-items: end;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1)
}

#second-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 200px;
  height: 150px;
}

input,
label {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  font-size: 1rem;
}

input {
  border: 1px solid rgba(211, 211, 211, 0.716);
}

*,
*:focus,
*:hover {
  outline: none;
}

input:focus:valid {
  border: 2px solid #34A65F;
}

input:invalid {
  border: 2px solid red;
}


#third-div {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  align-items: start;
  padding: 10px;
  box-shadow: inset 0px 5px 8px rgba(0, 0, 0, 0.1)
}

button {
  border-radius: 7px;
  background-color: #0F8A5F;
  color: snow;
  padding: 10px 40px;
  width: 200px;
  border: 1px solid #2f9054;
  font-weight: bold;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);
}


#logo-overlay {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  font-family: 'MountainsofChristmas-Bold', sans-serif;
  color: snow;
  position: absolute;
  top: 150px;
  height: 156px;
  width: 768px;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.202);
}

svg,
path {
  fill: snow;
  width: 20px;
}

#link-lable {
  font-size: large;
}

a {
  color: #34A65F
}